
@{
    ViewBag.Title = "Mission";
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <h2>Mission</h2>
        <p>Since 1989, here at Terry Building Co. we strive for excellence in all phases of your project from its inception to its completion.  We pride ourselves on providing one of the highest quality, least problematic pre-engineered building systems in the market today.</p>
        <p>The team at Terry Building Co. takes a more personal approach when working with our customers on their projects.  Our focus is to take care of our clientele as if we were caring for our own families. It is our mission to make sure that no matter what needs arise, we are here to make sure they are met to your satisfaction.  Our philosophy is to ensure our customers are well taken care of and not well informed on which department they need to be transferred to.  We want your experience with us to feel like a partnership and not an exercise in futility.</p>
        <p>Our manufacturing plant is full of some of the latest and greatest manufacturing equipment on the market today. Our buildings are designed to your specifications, per your local building codes, including all types of metal buildings used for churches, gymnasiums, schools, storage facilities, offices, natural gas compressor stations and much more. All connection clips are welded on (no field bolting of loose clips required).</p>
        <p>Here at Terry Building Co., you the customer are what we depend on, so we want you to know you can depend on us. Just try us once and you will see the advantage you have dealing with a  manufacturer that has a personal approach can do for you.</p>
    </div>
</div>
