
@{
    ViewBag.Title = "Commercial";
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <h3>Commercial</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/1.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/2.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/3.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/4.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/5.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/6.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/7.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/8.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/9.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/10.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/11.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/12.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/13.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/14.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/15.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/16.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/17.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/18.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/19.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/20.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/21.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/22.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/23.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/24.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/25.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/26.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/27.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/28.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/29.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/30.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/31.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/32.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/33.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/34.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/35.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/36.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/37.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/38.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/39.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/40.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/41.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/42.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/43.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/44.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/45.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/46.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/47.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/48.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/commercial/49.jpg" alt="Commercial" class="getSrc" />
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade picModal" id="picModal" tabindex="-1" role="dialog" aria-labelledby="picModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/images/commercial/1.jpg" alt="Commercial" class="img-responsive center-block imagePreview" />
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(function () {
            $('.getSrc').click(function () {
                var src = $(this).attr('src');
                $('.imagePreview').attr('src', src);
            });

            $('#picModal').click(function () {
                $('.modal').modal('hide');
            });
        });
    </script>
}
