
@{
    ViewBag.Title = "Projects";
}


<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <ol class="breadcrumb">
                    <li><span class="h2">Projects</span></li>
                </ol>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <a href="~/Projects/Commercial" class="thumbnail">
                            <img src="~/images/commercial/1.jpg" alt="Commercial" />
                            <div class="caption">
                                <h3>Commercial</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <a href="~/Projects/Agriculture" class="thumbnail">
                            <img src="~/images/Agriculture/1.jpg" alt="Agriculture" />
                            <div class="caption">
                                <h3>Agriculture</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <a href="~/Projects/Retail" class="thumbnail">
                            <img src="~/images/retail/1.jpg" alt="Self Storage" />
                            <div class="caption">
                                <h3>Retail</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <a href="~/Projects/Religious" class="thumbnail">
                            <img src="~/images/religious/1.jpg" alt="Churches" />
                            <div class="caption">
                                <h3>Religious</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>