
@{
    ViewBag.Title = "Religious";
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <h3>Religious</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/religious/1.jpg" alt="Religious" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/religious/2.jpg" alt="Religious" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/religious/3.jpg" alt="Religious" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/religious/4.jpg" alt="Religious" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/religious/5.jpg" alt="Religious" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/religious/6.jpg" alt="Religious" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/religious/7.jpg" alt="Religious" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/religious/8.jpg" alt="Religious" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/religious/9.jpg" alt="Religious" class="getSrc" />
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade picModal" id="picModal" tabindex="-1" role="dialog" aria-labelledby="picModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/images/religious/1.jpg" alt="Religious" class="img-responsive center-block imagePreview" />
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('.getSrc').click(function () {
                var src = $(this).attr('src');
                $('.imagePreview').attr('src', src);
            });

            $('#picModal').click(function () {
                $('.modal').modal('hide');
            });
        });
    </script>
}
