
@{
    ViewBag.Title = "Retail";
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <h3>Retail</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/1.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/2.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/3.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/4.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/5.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/6.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/7.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/8.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/9.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/10.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/11.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/12.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/13.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/14.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/15.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/16.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/17.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/18.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/19.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/20.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/21.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/22.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/23.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/24.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/25.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/26.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/27.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/28.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/29.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/30.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/31.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/32.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target=".picModal">
                    <img src="~/images/retail/33.jpg" alt="Retail" class="getSrc" />
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade picModal" id="picModal" tabindex="-1" role="dialog" aria-labelledby="picModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="~/images/retail/1.jpg" alt="Retail" class="img-responsive center-block imagePreview" />
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('.getSrc').click(function () {
                var src = $(this).attr('src');
                $('.imagePreview').attr('src', src);
            });

            $('#picModal').click(function () {
                $('.modal').modal('hide');
            });
        });
    </script>
}