@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div id="carousel-projects" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators hidden-xs">
                <li data-target="#carousel-projects" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-projects" data-slide-to="1"></li>
                <li data-target="#carousel-projects" data-slide-to="2"></li>
                <li data-target="#carousel-projects" data-slide-to="3"></li>
                <li data-target="#carousel-projects" data-slide-to="4"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <a href="~/Projects/Commercial">
                        <img src="~/images/commercial/0.jpg" alt="Commercial" />
                        <div class="carousel-caption hidden-xs">
                            <h3>Commercial Buildings</h3>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="~/Projects/Industrial">
                        <img src="~/images/industrial/0.jpg" alt="Industrial" />
                        <div class="carousel-caption hidden-xs">
                            <h3>Industrial</h3>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="~/Projects/Retail">
                        <img src="~/images/retail/0.jpg" alt="Self Storage" />
                        <div class="carousel-caption hidden-xs">
                            <h3>Retail</h3>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="~/Projects/Religious">
                        <img src="~/images/religious/0.jpg" alt="Churches" />
                        <div class="carousel-caption hidden-xs">
                            <h3>Religious</h3>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="~/Projects/Agriculture">
                        <img src="~/images/agriculture/0.jpg" alt="Agriculture" />
                        <div class="carousel-caption hidden-xs">
                            <h3>Agriculture</h3>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-projects" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-projects" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-xs-12 col-md-12">
        <p>
            Here at Terry Building Co., you will find our manufacturing results in the highest quality pre-engineered
            metal buildings on the market. Our team offers leading edge design services and building
            implementation consummate to that of our customer's needs. We are devoted in our efforts towards
            quality craftsmanship and strategical speed of both application and completion. Our manufacturing
            plant located in Oklahoma City, Oklahoma provides us with the most modern manufacturing equipment
            to offer the highest quality and least problematic pre-engineered building systems available. Since 1989,
            this has been proven with an array of companies and industries to date, being some of the many
            reasons our customers remain with us for so long.
        </p>
        <p>
            We look forward to the bright future of our company; it's employees, contractors and consumers. Our
            obligation to our existing customers and those that will be so in the future, is to provide elite personal
            relationships that lead to complete satisfaction with your decision to build with Terry Building Co.
        </p>
    </div>
    <div class="col-xs-12 col-md-12">
        <h2>Commitment To Quality</h2>
        <p>
            Quality assurance is an ongoing process that involves every employee of Terry Building Company, Inc. (TBCI). The responsibility for, and commitment to, a quality policy belongs to everyone in the organization. Management is charged with developing and stating company quality policies that are easily understood and that result in quality products. Management will take all necessary measures to ensure that its quality policies are understood, implemented, and maintained throughout the organization.
        </p>
        <p>
            TBCI will maintain well documented procedures and controls which will ensure that all activities related to the sale, design, and production of its metal building systems are directed in a manner that results in products conforming to TBCI standard specifications, tolerances, and overall quality criteria.
        </p>
        <p>
            Management will direct all activities of the organization in a manner that assures the final products meets or exceeds TBCI standard quality requirements and specifications.
        </p>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-xs-12 col-md-12">
        <div class="embed-responsive embed-responsive-16by9 text-center">
            <video class="embed-responsive-item" controls controlsList="nodownload">
                <source src="~/Content/Terry%20Building.mp4" type="video/mp4" />
            </video>
        </div>
    </div>
</div>