
@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <h2>Contact</h2>
        <address>
            <strong>Phone:&nbsp;</strong><a class="navbar-link" href="tel:4056345777">(405) 634-5777 &nbsp;<span class="glyphicon glyphicon-phone"></span></a>
        </address>

        <address>
            <strong>Toll Free:</strong>   <a class="navbar-link" href="tel:18009005777">1 (800) 900-5777 &nbsp;&nbsp;<span class="glyphicon glyphicon-phone"></span></a>
        </address>

        <address>
            <strong>Fax:</strong>   <a class="navbar-link" href="tel:6345784">(405) 634-5784 &nbsp;&nbsp;<span class="glyphicon glyphicon-print"></span></a>
        </address>

        <address>
            <strong>Email:</strong> <a href="mailto:marketing@terrybuildingco.com">marketing@terrybuildingco.com</a>
        </address>

        <address>
            Terry Building Co., Inc.<br />
            7621 S. Shields Boulevard<br />
            Oklahoma City, OK 73149<br />
        </address>
        <a target="_blank" href="https://goo.gl/maps/YaBf2UXhDDt">Directions</a>
        <br />
        <iframe class="hidden-xs" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3252.626082272809!2d-97.5084555843704!3d35.38972888026334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b21468fb7f89e1%3A0x2b44d7aec33faefb!2s7621+S+Shields+Blvd%2C+Oklahoma+City%2C+OK+73149!5e0!3m2!1sen!2sus!4v1504579698138" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

