
@{
    ViewBag.Title = "Quality";
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <h2>Commitment To Quality</h2>
        <p>Quality assurance is an ongoing process that involves every employee of Terry Building Company, Inc. (TBCI). The responsibility for, and commitment to, a quality policy belongs to everyone in the organization. Management is charged with developing and stating company quality policies that are easily understood and that result in quality products. Management will take all necessary measures to ensure that its quality policies are understood, implemented, and maintained throughout the organization.</p>
        <p>TBCI will maintain well documented procedures and controls which will ensure that all activities related to the sale, design, and production of its metal building systems are directed in a manner that results in products conforming to TBCI standard specifications, tolerances, and overall quality criteria.</p>
        <p>Management will direct all activities of the organization in a manner that assures the final products meets or exceeds TBCI standard quality requirements and specifications.</p>
    </div>
</div>
