
@{
    ViewBag.Title = "Team";
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <h2>Team</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="~/images/team/IMG_1385.jpg" alt="Team" />
                    <div class="caption">
                        <h3>Terry Konechney</h3>
                        <h4>President and Owner</h4>
                        <p>Terry Konechney is the President and owner of Terry Building.  He began his career in this line of business in 1979 as a building erector and later formed Terry Building in 1989.  He is a small business owner from Oklahoma City, Oklahoma who takes pride in providing one of the highest quality, least problematic pre-engineered building systems in the market today.  Over the past 30 years, Terry has dedicated his life to the business growth and success by offering the highest quality metal fabrication and building pre-engineered products and services.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="~/images/team/IMG_1432.jpg" alt="Team" />
                    <div class="caption">
                        <h3>Don Morris</h3>
                        <h4>Vice President</h4>
                        <p>Don Morris is the Vice President of Terry Building. In this role, Don manages our manufacturing processes to ensure products are built to the highest standards. In 2011, Don joined Terry Building offering 35 years of extensive experience in metal fabrication and pre-engineered buildings. He is dedicated and focused on providing the highest quality buildings and customer service on the market.  Don also oversees our quality assurance, drafting, and design teams.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="~/images/team/IMG_1340.jpg" alt="Team" />
                    <div class="caption">
                        <h3>Dan Hilgenberg</h3>
                        <h4>Director of Operations</h4>
                        <p>Dan Hilgenberg is the Operation Director of Terry Building.  In this role, Dan manages all aspects of production, industrial projects, and sales.  Dan is no stranger to production and industrial projects, having spent 21 years as a building erector and a general contractor.  He is a qualified Operation Director and has experience in the Energy Sector, Commercial Construction, and Industrial Construction to include extensive knowledge in compressor building and sound attenuation packages, ventilation systems, cranes, building operations and maintenance.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="~/images/team/IMG_1454.jpg" alt="Team" />
                    <div class="caption">
                        <h3>Boo Boo</h3>
                        <h4>Loss Prevention</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>